label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

input {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
}

table {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
}

select {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
}

button {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
}

strong {
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
}

a {
    font-family: 'Poppins', sans-serif !important;
    font-size: 12px !important;
}

.error div {
    color: red
}

input[type="checkbox"] {
    transform: scale(1.5);
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#cargaIcono {
    /*-webkit-animation: rotation 1s infinite linear;*/
    font-size: 55px !important;
    color: darkblue;
    display: none;
}

.menu-row {
    padding-left: 50px;
    padding-right: 50px;
}

.btn-menu-cabecera{
    color: #fff;
    background-color: #17a3b87c;
    border-radius: 90px !important;
    width: 50px;
    height: 50px;
    font-size: 25px !important;
    padding: 5px;
    float: left;
    margin-left: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.btn-menu-cabecera:hover{
    color: #fff;
    background-color: #0d5c687c;
    
}

.btn-menu-titulo{
    color: darkblue;
    font-size: 23px !important;
}

.btn-cerrars{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font-size: 25px !important;
}

.valida{
    color: darkgreen;
    font-size: 23px !important;
    display: none;
}

/*==== FIN CODIGO SHARA =====*/

.login-image {
    position: relative;
    background-color: #799dd2; 
}
.login-image::before {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    background-image: url('../img/fondo_2.png');
    filter: blur(8px);
    filter: brightness(0.40);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    /* This will make it stack on top of the ::before */
    position: relative;
}


.login-form{
    border-radius: 3%;
    background-color: rgb(122, 181, 242);
    /*text-align: center;*/
}
.login-form label{
    color: white;
    font-weight: bold;
}
.login-form #registro span{
    color: white;
    font-weight: bold;
}
.login-form .btn{
    width: 50%;
    position: relative;
    font-weight: bold;
    box-sizing: unset;
}
.socialmedia i{
    opacity: .8;
    color: #fff;
    font-size: 2rem;
}
.socialmedia i:hover{
    color: rgb(116, 116, 116);
    font-size: 2rem;
}
/*=============MENU===========*/
/*
.menu-row::before{
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    width: 100%; height: 100%;
    filter: blur(5px);
    filter: brightness(0.40);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/playing-with-phone-5103236_1920.jpg');
    opacity: 0.5;
}

.menu-row{
    background-color: #10214a;
    width: 100%;
}
*/

.menuborder{
    display: flex;
    background: rgba(0, 51, 176, 0.5);
    /*justify-content: center;
    align-items: center;*/
    /*border-radius: 30%;*/
    margin: 10px 0px;
    height: 85px;
}
.menu-items{
    display: flex;
    /*justify-content: center;
    text-align: center;*/
    vertical-align: middle;
    padding: 20px 0;
    width: 80%;
}
.menu-items .btn{
    margin:20px;
    background: rgba(0, 0, 0, 0.39);
}
.menu-items .btn:hover{
    margin:20px;
    
    background: rgba(110, 110, 110, 0.39);
}
.content{
    padding-top: 30px;
}
/*.content,.menu-back{
    /*background: rgb(50,53,185);
    background: linear-gradient(90deg, rgba(50,53,185,1) 0%, rgba(110,134,227,1) 50%, rgba(50,53,185,1) 100%);* /
    background-color: rgb(236, 239, 240);
    background-image: url('../img/spikes.png');
     
}*/

/*==== VOLVI (CODIGO SHARA) =====*/
.menu-back{
    height: 80px;
}
.card-body{
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.topcorner{
    position:absolute;
    top:0;
    right:0;
}

.topcorner2{
    position:absolute;
    top:0;
    right:65px;
}

.topcorner3{
    position:absolute;
    top:0;
    left:0;
}

.pantalla-col{
    padding: 0px 20px;
    max-height: 22cm;
    overflow-y: inherit;
}

.encabezado-info{
    background-color: rgb(0, 51, 176);
    color: white;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    font-size: 20px !important;
    padding: 10px 0px;

}

.cuadro-info{
    border: 1px solid rgb(103, 157, 212);
    width: 100%;
    padding-left: 15px;
}

.info-titulo{
    font-size: 14px;
    color:darkblue;
    font-weight: bold;
}

.info-cuerpo{
    font-size: 12px;
    color:black;
}

.card{
    border-radius: 15px!important;
}

.btn-vista{
    color:white !important;
    font-size: 12px;
    margin-left: 20px;
    border-radius: 20px;
    width: 150px;
    margin-top: 15px;
}

.btn-webview{
    margin-top: 10px;
    border-radius: 15px;
    color: white !important;
    font-size: 14px !important;
    width: 220px;
    margin-left: -15px;
}

#map {
    height: 10cm;
    width: 100% margin: 0 15px 30px 130px;
    padding: 0 25px;
    margin-left: -15px;
}

.subir, .subir2{
    padding: 5px 10px;
    background: #f55d3e;
    color:#fff;
    border:0px solid #fff;
}
 
.subir:hover{
    color:#fff;
    background: #f7cb15;
}

#encabezado{
    height: 1.3cm;
    margin-left: 80px;
    margin-top: 0px;
    position: absolute;
}